<h1>All articles</h1>
<button class="favorite styled"
        type="button"><%= link_to "New", new_article_path %>
</button>

<ul>
  <% @articles.each do |article| %>
    <li><%= link_to(article.title, article_path(article)) %></li>
    <li><%= article.content %></li>
  <% end %>
</ul>
